@import url("https://fonts.googleapis.com/css2?family=Gochi+Hand&family=Montserrat&family=Pacifico&display=swap");
:root {
  /* font */

  --f-principal: "Gochi Hand", cursive;
  --f-ttulos: "Pacifico", cursive;
  --f-parrafos: "Montserrat", sans-serif;
  /*  font-weight */
  --fw-300: 400;

  /* colors */
  --azul-fondo: #6AD0FF;
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html {
  font-size: 62.5%;
  font-family: var(--ff);
}

main {
  display: flex;
  height: 100vh;
  background-color: var(--azul-fondo);
  margin: 0;
}

.container-img {
  height: 100%;
  width: 70vh;
  display: flex;
  justify-content: left;
}

.container-img > img {
  height: 100%;
  width: 100%;
  margin-left: 5%;
  position: relative;
}

.cont-categories {  
  display: flex;
  flex-direction: column;
  justify-content: right;
  position: relative;
  width: 50%;
  height: 90%;
  margin-left: 20%;
  margin-top: 50px;
  margin-bottom: 50px;
  margin-right: 0%;
  right: 0%;
}  

#movies {
  width: 100%;
  height: 15%;
  margin-bottom: 10%;
  padding: 15px 0px 15px 50px;
  background-color: #988677;
  border: none;
  border-radius: 35px 0 0 35px;
  color: white;
  font-family: "Gochi Hand", cursive;
  font-size: 44pt;
  cursor: pointer;
}

#people {
  width: 100%;
  height: 15%;
  margin-bottom: 10%;
  padding: 15px 0px 15px 50px;
  background-color: #988677;
  border: none;
  border-radius: 35px 0 0 35px;
  color: white;
  font-family: "Gochi Hand", cursive;
  font-size: 44pt;
  cursor: pointer;
}

#location {
  width: 100%;
  height: 15%;
  margin-bottom: 10%;
  padding: 15px 0px 15px 50px;
  background-color: #988677;
  border: none;
  border-radius: 35px 0 0 35px;
  color: white;
  font-family: "Gochi Hand", cursive;
  font-size: 44pt;
  cursor: pointer;
}

#vehicles{
  width: 100%;
  height: 15%;
  padding: 15px 0px 15px 50px;
  background-color: #988677;
  border: none;
  border-radius: 35px 0 0 35px;
  color: white;
  font-family: "Gochi Hand", cursive;
  font-size: 44pt;
  cursor: pointer;
}