@import url("https://fonts.googleapis.com/css2?family=Gochi+Hand&family=Montserrat&family=Mali&display=swap");
:root {
  /* font */
  --f-principal: "Gochi Hand", cursive;
  --f-titulos: "Mali", cursive;
  --f-parrafos: "Montserrat", sans-serif;
  /*  font-weight */
  --fw-300: 400;
  /* colors */
  --color-movies: #566EAE;
  --color-people: #541b35;
  --color-location: #f05231;
  --color-vehicles: #91c271;
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html {
  font-size: 62.5%;
}

main {
  display: flex;
  width: 100vw;
  height: 100vh;
  background-image: url("./img/background-main.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  object-fit: contain;
  margin: 0;
}

.container {
  height: 100%;
  width: 100%;
  display: flex;
  align-items: center;
  background: rgba(0, 0, 0, 0.72);
}
.container-img {
  width: 880px;
  margin-bottom: 136px;
  display: flex;
  justify-content: left;
}
.container-img > img {
  height: 100%;
  width: 100%;
  margin-left: 5%;
  position: relative;
}

.cont-categories {
  display: flex;
  flex-direction: column;
  width: 50%;
  margin-left: 20%;
}

#movies,
#people,
#location,
#vehicles {
  width: 100%;
  height: 15%;
  margin: 30px 0;
  padding: 15px 0px 15px 50px;
  border: none;
  border-radius: 35px 0 0 35px;
  color: white;
  font-family: var(--f-parrafos);
  font-size: 3.6rem;
  cursor: pointer;
}

.bar {
  width: 400px;
  height: 16px;
}

.pages {
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 100%;
  margin: 0;
  top: 0;
  background-color: #e6ebea;
  position: relative;
}

.container-pages {
  display: inline-block;
  height: 100%;
  width: 100%;
  background: rgba(0, 0, 0, 0.72);
  margin: 0%;
  padding-left: 25px;
  padding-right: 25px;
  padding-bottom: 65p;
}

#page-movies {
  display: block;
  max-width: 100vw;
  height: 100%;
  margin: 0;
  background-image: url(./img/background-movies.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-color: azure;
}

#nav-bar {
  display: flex;
  justify-content: center;
  height: 12vh;
  margin-top: 2%;
  margin-bottom: 2px;
  font-family: var(--f-parrafos);
  font-size: 3em;
  font-weight: 600;
  align-content: center;
}
ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}
li {
  display: inline;
  color: white;
  text-align: center;
  margin: 0;
  padding-left: 40px;
  padding-right: 40px;
  text-decoration: none;
}

.banner-logo {
  display: flex;
  position: relative;
  width: 100%;
  height: 20vh;
  margin-top: -5px;
  margin-bottom: 5px;
  top: 0;
  justify-content: center;
}
.banner-logo > img {
  width: auto;
  height: 100%;
  margin-top: -2px;
  top: 0;
}

.search-filter {
  display: flex;
  width: 100%;
  height: 50px;
  margin-top: 15px;
  margin-bottom: 10px;
  justify-content: center;
  align-content: center;
  gap: 30px;
}
#search {
  width: 600px;
  height: 50px;
  padding-right: 30px;
  padding: 2px 10px;
  border: none;
  border-radius: 40px;
  font-family: var(--f-parrafos);
  font-size: 15pt;
}
select {
  display: flex;
  height: 100%;
  width: 150px;
  /* margin-top: 8px;
  margin-left: 35px; */
  border: none;
  border-radius: 15px;
  font-family: var(--f-parrafos);
  font-size: 10pt;
  text-align: center;
  justify-content: center;
}

.content-op {
  display: flex;
  width: 100%;
  height: auto;
  margin-top: 45px;
  align-content: center;
  justify-content: center;
  flex-wrap: wrap;
  gap: 80px;
}

.card {
  max-width: 200px;
  min-width: 180px;
  min-height: 350px;
  border: 1pt antiquewhite;
  overflow: hidden;
  cursor: pointer;
  display: flex;
  flex-direction: column;
  margin-top: 0;
  margin-bottom: 10px;
}
.card > img {
  width: 100%;
  height: 90%;
  border-radius: 40px;
  /* filter: drop-shadow(10px 8px 3px rgba(0, 0, 0, 0.59)); */
}
.card span {
  display: inline-block;
  margin-top: 18px;
  font-family: var(--f-principal);
  font-size: 2.8em;
  text-align: center;
  color: #fff;
  height: 65px;
}
.card p {
  margin-top: 5px;
  font-family: var(--f-parrafos);
  font-size: 1.8em;
  text-align: center;
  color: #ffffff;
}
.titles {
  display: flex;
}

#page-people {
  display: block;
  max-width: 100vw;
  height: 100%;
  margin: 0;
  background-image: url(./img/background-people.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-color: azure;
}

/* menu mobile */
.menu-mobile {
  width: 100%;
  height: 80px;
  background: var(--color-movies);
  display: flex;
  justify-content: space-between;
}
.logo-mobile {
  width: 40%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}
.logo-mobile > img {
  width: 153px;
  height: 68px;
}

.logo-hamburger {
  height: 100%;
  width: 20%;
  display: flex;
  justify-content: center;
  align-items: center;
}
.logo-hamburger > img {
  width: 40px;
  color: #e6ebea;
}

.menu-mobile-items {
  width: 100%;
  height: 50vh;
  position: absolute;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #566daedc;
  transform: translate(0, -130%);
}
.menu-mobile-items.is-active {
    transform: translate(0, 0);
}

.menu-items {
  display: flex;
  flex-direction: column;
  gap: 36px;
  margin-top: 34px;
  font-size: 2.4rem;
}
.menu-item {
  text-decoration: none;
  color: #e6ebea;
  position: relative;
}


.movies::after {
  content: "";
background-color: var(--color-movies);
width: 0;
height: 4px;
position: absolute;
top: 50px;
right: 50%;
transition: all .5s;
will-change: width;
}
.people::after {
  content: "";
background-color: var(--color-people);
width: 0;
height: 4px;
position: absolute;
top: 50px;
right: 50%;
transition: all .5s;
will-change: width;
}
.location::after {
  content: "";
background-color: var(--color-location);
width: 0;
height: 4px;
position: absolute;
top: 50px;
right: 50%;
transition: all .5s;
will-change: width;
}
.vehicles::after {
  content: "";
background-color: var(--color-vehicles);
width: 0;
height: 4px;
position: absolute;
top: 50px;
right: 50%;
transition: all .5s;
will-change: width;
}

.menu-item:hover::after{
  width: 100%;
  right: 0;
}

.container-films, .container-people, .menu-mobile, .menu-mobile-items{
  display: none;
}



.container-modal {
  display: flex;
  flex-direction: column;
  position: fixed;
  justify-content: center;
  align-items: center;
  width: 100vw;
  height: 100vh;
  top: 0;
  left: 0;
  background: #d9d9d90c;
  backdrop-filter: blur(6.57067px);
  background-size: contain;
  display: none;
}

.modal {
  display: flex;
  max-width: 60%;
  min-width: 450px;
  max-height: 70%;
  min-height: auto;
  /* border: dashed #9786f8; */
  border-radius: 55px;
}
.cont-button {
  display: flex;
  align-items: center;
  justify-content: right;
  width: 55%;
  min-width: 450px;
}
.close-modal {
  color: #ffffff;
  font-size: 2.5em;
  font-weight: 900;
  background: none;
  border: none;
  cursor: pointer;  
}
#cont-modal-img {
  width: 35%;
  max-height: 100%;
  /* border: solid sandybrown; */
  border-color: #fafaff;
  border-radius: 55px 0 0 55px;
  overflow: hidden;
}
.modal img {
  width: 100%;
  height: 100%;  
}
#cont-modal-txt {
  display: flex;
  flex-direction: column;
  width: 65%;
  max-height: 95%;
  margin: 12px 0;
  padding-top: 2.2%;
  padding-left: 1.5%;
  padding-right: 2%;
  padding-bottom: 2%;
  background-color: #ffffff;
  border-radius: 0 55px 55px 0;
}
.title-modal {
  font-family: var(--f-principal);
  font-size: 5em;
  text-align: left;
}
.subtitle-modal, h4 {
  font-family: var(--f-titulos);
}
.subtitle-modal {
  font-size: 2em;
  font-weight: bolder;
  margin-bottom: 5px;
  padding-bottom: 1px;
}
.subtitle-modal, .rating-modal {
  font-size: 1.7em;
  font-weight: 800;
  margin-bottom: 5px;
}
.description-modal {
  font-family: var(--f-parrafos);
  font-size: 1.5em;
  font-weight: 600;
  margin-top: 15px;
  margin-bottom: 15px;
}


@media (min-width: 280px) and (max-width: 480px) {
  .menu-mobile, .menu-mobile-items{
    display: flex;
  }
  main {
    height: 100vh;
  }
  #nav-bar {
    display: none;
  }
  .banner-logo {
    display: none;
  }
  .container {
    flex-direction: column;
    justify-content: center;
  }
  .container-img {
    width: 200px;
    margin: 50px 0 0;
    margin-top: 50px;
  }
  .cont-categories {
    width: 100%;
    margin: 30px;
  }
  #movies,
  #people,
  #location,
  #vehicles {
    font-size: 1.8rem;
    margin: 30px 0;
    text-align: center;
    padding: 0;
  }
  #search {
    width: auto;
  }
  .search-filter {
    flex-direction: column;
    height: auto;
    margin-top: 40px;
  }
  select {
    width: 100%;
    height: 35px;
  }
}